.table {
  text-align: center;
  border-collapse: collapse;
  border: 3px solid;
  margin: auto;
}

.table td,
.table th {
  border: 1px solid;
  padding: 8px;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #d3d3d3;
}
